body  {
   background-color: deepskyblue;
   overflow: hidden;
   user-select: none;
}

#circle {
   width: 1em;
   height: 1em;
   border-radius: 50%;
   position: absolute;
   transition-timing-function: linear;
   transition-duration: 1s;
   border: solid 2px white;
}
